/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos do cabeçalho */
header {
    display: inline bl;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

/* Estilos do conteúdo */
main {
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

li{
    list-style-type: none;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .logo {
        margin: 0;
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
    }
}

.img-redes .icon-rede{
    display: flexbox;
    image-resolution:;
} 